<launch>
  <param name="use_sim_time" value="true"/>
  <node name="choreonoid" pkg="choreonoid_ros_ext_plugin" type="run_choreonoid.sh"
        args="$(find hrpsys_sample)/config/SampleRobot.cnoid --start-simulation"/>

  <include file="$(find hrpsys_sample)/launch/hrpsys.launch">
    <arg name="CONF_FILE" value="$(find hrpsys_ros_bridge_tutorials)/models/SampleRobot.conf"/>
    <arg name="URDF_FILE" value="$(find hrpsys_ros_bridge_tutorials)/models/SampleRobot.urdf"/>
    <arg name="MODEL_FILE" value="$(find openhrp3)/share/OpenHRP-3.1/sample/model/sample1.wrl" />
    <arg name="CONTROLLER_CONFIG_FILE" value="$(find hrpsys_ros_bridge_tutorials)/models/SampleRobot_controller_config.yaml" />
  </include>
</launch>
